requests==2.32.3
openai==1.45.0
jsonfy==0.4
flask==3.0.3
asgiref==3.8.1
PyPDF2==3.0.1
sentence-transformers==2.2.2
langchain==0.3.4
langchain-community==0.3.3
faiss-cpu==1.8.0
psycopg2==2.9.10
bcrypt==4.2.0