requests==2.33.0
openai==3.8.0
jsonfy==0.4
flask==3.1.3
asgiref==3.8.1
sentence-transformers==2.2.2
langchain==1.3.9
langchain-classic==1.0.8
langchain-huggingface==1.2.2
langchain-pinecone==0.2.13
langchain-core==1.6.1
langchain-community==0.4.2
faiss-cpu==1.8.0
psycopg2==2.9.10
bcrypt==4.2.0
pycryptodome==3.21.0
pynacl==1.6.2
pytz~=2024.2
pypdf
wikipedia
lxml
beautifulsoup4
scikit-learn
pandas~=2.2.3
pyarrow~=18.1.0

langchain-openai==1.6.0
pinecone==7.3.0
numpy~=1.26.4
torch~=2.4.1
numexpr==2.10.2
google-search-results==2.4.2
langchain-experimental==0.4.2
mysql-connector-python~=9.0.0