requests==2.32.3
openai==1.45.0
jsonfy==0.4
flask==3.0.3
asgiref==3.8.1
PyPDF2==3.0.1
sentence-transformers==2.2.2
langchain==0.3.4
langchain-core~=0.3.12
langchain-community==0.3.3
faiss-cpu==1.8.0
psycopg2==2.9.10
bcrypt==4.2.0
pycryptodome==3.21.0
pynacl==1.5.0
pytz~=2024.2
pypdf
wikipedia
lxml
beautifulsoup4
scikit-learn
pandas~=2.2.3
pyarrow~=18.1.0

langchain-openai~=0.2.3
pinecone~=5.3.1
numpy~=1.26.4
torch~=2.4.1
numexpr==2.10.2
google-search-results==2.4.2
langchain-experimental~=0.3.4
mysql-connector-python~=9.0.0