<!--base.html-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="static/css/main.css" />
  <script type="module" src="static/js/bundle.js" defer></script>
</head>
<body>
  <div class="div-container">
    <div class="div-row">1</div>
    <div class="div-row">2</div>
    <div class="div-row">3</div>
    <div class="div-row">4</div>

    <div class="div-row">
      <div class="div-container2">
        <div class="div-row2">
          <nav id="nav-menu-principal">
            <a href="/">Inicio</a> |
            <a href="/servicios">Servicios</a> |
            <a href="/contacto">Contacto</a> 
          </nav>
        </div>
        <div class="div-row2">
          <img src="" />
        </div>
        <div class="div-row2">
            más sobre nosotros
        </div>
        <div class="div-row2">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aspernatur ratione ipsam libero impedit a, vero illo inventore? Doloribus eos quae exercitationem adipisci aliquam molestias ea, ex alias asperiores commodi!
          </p>
        </div>
        <div class="div-row2">
          Redes sociales
        </div>
        
      </div>
    </div>

    <div class="div-row">5</div>
    <div class="div-row">6</div>
    <div class="div-row">7</div>
    <div class="div-row">8</div>
  </div>
</body>
</html>
<!--/base.html-->
