<!-- hello.html -->
{% extends "base.html" %}
{% import "macro.html" as macros%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ super() }} | Bienvenida {% endblock %}

{% block content %}
  <div class="container">
    <h1>Bienvenido {{ "xxx" | capitalize }}</h1>
    <section class="sec-container">
      <div class="div-item">contenido #1</div>
      <div class="div-item">contenido #2</div>
      <div class="div-item">contenido #3</div>
      <div class="div-item">contenido #4</div>
      <div class="div-item">contenido #5</div>
      <div class="div-item">contenido #6</div>
      <div class="div-item">contenido #7</div>
      <div class="div-item">contenido #8</div>
      <div class="div-item">contenido #9</div>
      <div class="div-item">contenido #10</div>
      <div class="div-item">contenido #11</div>
      <div class="div-item">contenido #12</div>
    </section>
  </div>
{% endblock %}
<!--/hello.html -->