__pycache__
venv
be-api/.venv
be-api/venv
fe-flet/.venv
fe-flet/venv

be-api/storage/logs/*.log
be-api/storage/logs/*.sql
be-api/storage/uploads/*
be-api/storage/cache/*

.idea
*/config/config.py
*/config/database.py

*.drawio.bkp