__pycache__
venv
be-api/.venv
be-api/venv
fe-flet/.venv
fe-flet/venv

be-api/storage/*.log
be-api/storage/*.sql

.idea
*/config/config.py
fe-vue/node_modules
fe-vue/dist
fe-vue/.env
fe-vue/.env.local
fe-vue/.env.development
fe-vue/.env.production
fe-vue/.env.staging
fe-vue/.env.test

*.drawio.bkp