<!-- hello.html -->
{% extends "base.html" %}
{% import "macro.html" as macros%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ super() }} | Bienvenida {% endblock %}

{% block content %}
  {% if user_ip %}
    <h1>Hello {{ user_ip }}</h1>
  {% else %}
    <a href="{{ url_for("index") }}"> Ir a inicio</a>
  {% endif %}

  <div class="clontainer">
<!--
    <form action="{{ url_for("hello") }}" method="POST">
      {{ loginform.username.label }}
      {{ loginform.username }}
      {{ loginform.password.label }}
      {{ loginform.password }}
    </form>
-->    
  {{ wtf.quick_form(loginform) }}
  </div>

  <ul>
    {% for todo in todos %}
      {{ macros.render_todo(todo) }}
    {% endfor %}
  </ul>
{% endblock %}
<!--/hello.html -->